<ion-view id="add-category-view"
		  title="{{titleAction}} category">
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Name</span>
				<input type="text" ng-model="category.name" required/>
			</label>
			<div class="item item-input">
				<span class="input-label">Type</span>
				<div id="category-type-b" class="button-bar">
					<button class="button button-assertive button-small">
						Expenses
					</button>
					<button class="button button-balanced button-small" disabled="disabled">
						Income
					</button>
				</div>
			</div>
			<label class="item item-input">
				<span class="input-label">Icon</span>
				<a href="#"><i class="icon {{category.icon}}"></i></a>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Comments (optional)</span>
				<textarea rows="10" ng-model="category.comments"></textarea>
			</label>
			<button class="button button-block button-positive" ng-model="saveCategory">
				{{action}} category
			</button>
		</div>
	</ion-content>
</ion-view>