<ion-view id="add-account-view"
          title="{{titleAction}} account">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="account.name" required />
            </label>
            <label class="item item-input">
                Icon: <a ui-sref="icons"><i class="icon {{account.icon}}"></i></a>
            </label>
            <label class="item item-input">
                <textarea placeholder="Comments (optional)" ng-model="account.comments"></textarea>
            </label>
            <button class="button button-block button-positive" ng-model="saveAccount">
                {{action}} account
            </button>
        </div>
    </ion-content>
</ion-view>