<ion-view id="accounts-view"
		  title="Accounts"
		  ng-init="init()">
	<ion-nav-buttons side="secondary">
		<button class="button button-balanced icon-left ion-plus-round button-clear" ui-sref="tab.accounts.edit({accountId: -1})"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list can-swipe="true">
			<ion-item ng-repeat="account in accounts"
			          type="item-text-wrap"
			          href="#/tab/accounts/{{account.id}}"
					  class="item item-icon-left">
				<i class="icon {{account.icon}}"></i>
				{{account.name}}

				<ion-option-button class="button-assertive ion-trash-a"
								   style="font-size: 24px;"
								   ng-click="accounts.splice($index, 1)">
				</ion-option-button>
				<ion-delete-button class="ion-minus-circled"
				                   ng-click="">
				</ion-delete-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
