<ion-view view-title="Dashboard"
		  ng-init="init()"
		  id="dashboard-view">
	<ion-content class="padding">
		<div id="period">
			<div id="period-navigation">
				<button class="button button-clear icon ion-chevron-left"
						ng-click="prevMonth()"></button>
				<button class="button button-clear icon ion-chevron-right"
						ng-click="nextMonth()"></button>
			</div>
			<h4>{{CurrentPeriod}}</h4>
			<select>
				<option selected value="week">Week</option>
				<option value="month">Month</option>
				<option value="year">Year</option>
			</select>
		</div>
		<div id="dashboard">
			<div class="card">
				<div class="item item-text-wrap">
					<progress max="1" value="{{1-ExpensesValue/IncomeValue}}" class="html5"></progress>

					<div class="row">
						<label class="left">Expenses</label>
						<span class="right">{{ExpensesValue}}</span>
					</div>
					<div class="row">
						<label class="left">Income</label>
						<span class="right">{{IncomeValue}}</span>
					</div>
					<hr/>
					<div class="row">
						<label class="left">Balance</label>
						<span class="right">{{IncomeValue - ExpensesValue}}</span>
					</div>
				</div>
			</div>
		</div>
		<div id="actions">
			<button class="button button-outline button-assertive icon-left ion-plus"
					ng-click="addTransaction('expense')">
				Expense
			</button>
			<button class="button button-outline button-balanced icon-left ion-plus"
					ng-click="addTransaction('income')">
				Income
			</button>
		</div>
	</ion-content>
</ion-view>