<ion-view view-title="Categories"
		  ng-init="init()"
		  id="category-view">
	<ion-nav-buttons side="secondary">
		<button class="button button-balanced icon-left ion-plus-round button-clear" ui-sref="tab.categories.edit({categoryId: -1})"></button>
	</ion-nav-buttons>
	<ion-content>
		<div id="category-type" class="button-bar">
			<button class="button button-assertive button-small">
				Expenses
			</button>
			<button class="button button-balanced button-small" disabled="disabled">
				Income
			</button>
		</div>
		<ion-list can-swipe="true">
			<ion-item ng-repeat="category in categories"
					  type="item-text-wrap"
					  href="#/tab/categories/{{category.id}}"
					  class="item item-icon-left">
				<i class="icon {{category.icon}}"></i>
				{{category.name}}
				<span class="item-note">
					{{category.type}}
				</span>

				<ion-option-button class="button-assertive ion-trash-a"
								   style="font-size: 24px;"
								   ng-click="categories.splice($index, 1)">
				</ion-option-button>
				<ion-delete-button class="ion-minus-circled"
								   ng-click="">
				</ion-delete-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>