body {
}


/*#accounts-view ion-item div.container{
	width: 50px;
	text-align: center;
	display: inline-block;
}

#accounts-view ion-item h2 {
	display: inline-block;
	vertical-align: top;
	margin: 5px 5px 0;
}*/